@font-face {
  font-family: mb;
  src: url(../fonts/Montserrat-ExtraBold.otf);
}

@font-face {
  font-family: ml;
  src: url(../fonts/MontserratAlternates-Regular.otf);
}
* {
  margin: 0px;
  padding: 0px;
}
@import './_home.scss';
@import './Dashboard-styles/_nav.scss';
@import './Dashboard-styles/_header.scss';
@import './Dashboard-styles/_task.scss';
@import './Add-task-styles/_add-task.scss';