.main {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #00BE85;
}

.intro {
  margin: auto;
  color: #FFFFFF;
  p{
    text-align: center;
  }

  p:nth-child(1) {
    font-family: ml;
    font-size: 12pt;
  }

  p:nth-child(2) {
    font-family: mb;
    font-size: 48pt;
  }

  .route {
    a {
      text-decoration: none;
      color: #fff;

      p {
        padding: 20px 30px;
        font-family: ml;
        font-size: 10pt;
      }
    }

    width: fit-content;
    margin: auto;
    margin-top: 40px;
    background-color: #30D0A0;
    border-radius: 8px;
  }
}