<template>
  <div class="about">
    <main>
      <nav class="nav">
        <p class="logo">Task</p>
        <div class="search-container">
          <input type="search" placeholder="Search for a task...">
        </div>
        <div class="sort">
          <p>Sort by</p>
          <div class="caret"></div>
        </div>
        <div class="actions" >
          o
        </div>
        <div class="add-task" @click="openAddTaskMenu()">
          <svg viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
            <path fill-rule="evenodd" style="fill: white;"
              d="M8 2a.75.75 0 01.75.75v4.5h4.5a.75.75 0 010 1.5h-4.5v4.5a.75.75 0 01-1.5 0v-4.5h-4.5a.75.75 0 010-1.5h4.5v-4.5A.75.75 0 018 2z">
            </path>
          </svg>
        </div>
      </nav>
      <!-- Add menu screen pop-up -->
      <div v-if="addTaskMenuIsOpen" @click="openAddTaskMenu()">
        <AddTask />
      </div>
      <div v-else>
      </div>
      <!-- -->
      <div class="header">
        <div>
          <p>No.</p>
          <p>Title</p>
          <p>Date</p>
          <p>Categories</p>
          <p>Status</p>
          <input type="checkbox">
        </div>
      </div>
      <div class="task-container">
        <ul>
          <li v-for="task in tasks" :key="task.id">
            <Task :data="task" />
          </li>
        </ul>
      </div>
    </main>
  </div>
</template>
<script lang="ts">
  import {
    Component,
    Vue
  } from 'vue-property-decorator';
  import Task from '@/components/Task.vue';
  import AddTask from '@/components/AddTask.vue';

  interface Data {
    title: string;
    date: string;
    time: string;
    id: number;
  }

  @Component({
    components: {
      Task,
      AddTask
    }
  })
  
  export default class Dashboard extends Vue {
    tasks: Array < object > = [];

    addTaskMenuIsOpen = false;

    openAddTaskMenu(): void {
      this.addTaskMenuIsOpen = !this.addTaskMenuIsOpen;
    }

    mounted() {
      const date = new Date();

      for (let i = 0; i < 5; i++) {

        const data: Data = {
          title: 'labfjasldjnasjvajsdn',
          date: date.toLocaleString("default", {
            month: "short",
            day: "numeric"
          }) + ' 2020',
          time: date.toLocaleTimeString([], {
            hour: "2-digit",
            minute: "2-digit"
          }),
          id: i + 1
        }

        this.tasks.push(data);
      }
    }
  }
</script>