<template>
  <main class="main">
    <div class="intro">
      <p>Welcome to</p>
      <p>Tasks</p>
      <div class="route">
        <router-link to="/Dashboard">
          <p>continue</p>
        </router-link>
      </div>
    </div>
  </main>
</template>