<template>
<div class="black-container">
    <div class="add-task-main"></div>
</div>
</template>
<script lang="ts">
  import {
    Component,
    Vue
  } from 'vue-property-decorator';

  @Component
  export default class AddTask extends Vue {
    
  }
</script>