<template>
  <div class="task">
    <div>
      <p>{{data.id}}</p>
      <div>
        <p>{{data.title}}</p>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16pt" height="16pt"
          viewBox="0 0 16 16" version="1.1">
           <path
              d="M 218.054688 69.929688 L 314.070312 165.945312 L 105.578125 374.4375 L 19.972656 383.886719 C 8.511719 385.15625 -1.171875 375.464844 0.105469 364.003906 L 9.628906 278.339844 Z M 373.453125 55.636719 L 328.371094 10.550781 C 314.308594 -3.511719 291.503906 -3.511719 277.441406 10.550781 L 235.027344 52.964844 L 331.042969 148.980469 L 373.453125 106.566406 C 387.515625 92.496094 387.515625 69.699219 373.453125 55.636719 Z M 373.453125 55.636719 " />
        </svg>

      </div>
      <p>{{data.date}}, {{data.time}}</p>
      <p>Games, Tech <span></span></p>
      <p>Status</p>
      <input type="checkbox">
    </div>
  </div>

</template>

<script lang="ts">
  import {
    Component,
    Prop,
    Vue
  } from 'vue-property-decorator';

  @Component
  export default class Task extends Vue {
    @Prop()
    private data!: object;
  }
</script>