.header {
    background-color: #e8e8e8;
    height: 8vh;
    width: 100%;
    display: flex;

    div {
        margin: auto;
        margin-left: 50px;
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #808080;
        font-size: 10pt;
        font-weight: bolder;

        p:nth-child(1) {
            width: 10vw;
        }

        p:nth-child(2) {
            width: 25vw;
        }

        p:nth-child(3) {
            width: 20vw;
        }

        p:nth-child(4) {
            width: 15vw;
        }

        p:nth-child(5) {
            width: 15vw;
        }
    }
}