.nav {
    display: flex;
    background-color: #00BE85;
    height: 10vh;

    * {
        margin: auto;
    }

    div:nth-child(4) {
        padding: 10px 15px;
        background-color: #30D0A0;
        margin-left: 0px;
        margin-right: 20px;
        border-radius: 5px;
        color: white;
        display: flex;

        svg {
            margin: auto;
        }
    }

    div:nth-child(3) {
        @extend div:nth-child(4);
        display: flex;
        font-family: ml;
        font-size: 9pt;
    }

    div:nth-child(5) {
        @extend div:nth-child(3);
        margin-right: 50px;
    }
}

.logo {
    color: white;
    font-family: mb;
    font-size: 20pt;
    margin-left: 50px;
}

.search-container {
    background-color: #fff;
    width: 500px;
    height: 5vh;
    display: flex;
    margin-right: 20px;
    border-radius: 5px;

    input {
        margin: auto;
        width: 80%;
        height: inherit;
        border: none;
        padding-left: 10px;
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
    color: #fff;
    margin-left: 5px;
}