.task-container {
    ul {
        li:nth-child(even) {

            div {
                background-color: #fff;

                div {
                    background-color: transparent;
                }

                &:hover {
                    background-color: #f3f3f3f9;
                    cursor: pointer;
                }
            }
        }

    }
}
g{
    width: fit-content;
    height: fit-content;
}
.task {
    background-color: #fafafa;
    height: 8vh;
    width: 100%;
    display: flex;

    div {
        margin: auto;
        margin-left: 50px;
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #808080;
        font-size: 10pt;
        font-weight: 400;


        p:nth-child(1) {
            font-weight: bolder;
            width: 10vw;
        }

        div:nth-child(2) {
            display: flex;
            width: 25vw;
            margin: auto;
            margin-left: 0px;

            p {
                font-weight: bolder;
            }

            svg{
                fill: #808080
            }
        }

        p:nth-child(3) {
            width: 20vw;
        }

        p:nth-child(4) {
            font-weight: bolder;
            width: 15vw;

            span {
                display: inline-block;
                width: 0;
                height: 0;
                vertical-align: middle;
                content: "";
                border-top-style: solid;
                border-top-width: 4px;
                border-right: 4px solid transparent;
                border-bottom: 0 solid transparent;
                border-left: 4px solid transparent;
                margin-left: 5px;
            }
        }

        p:nth-child(5) {
            width: 15vw;
        }
    }

    &:hover {
        background-color: #f3f3f3f9;
        cursor: pointer;
    }
}