.black-container{
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    z-index: 1;
    position: fixed;
}
.add-task-main{
    width: 500px;
    height: 500px;
    background-color: #fff;
    margin: auto;
}